extends ../layout

block content
  h1= title
  
  form(name="create-new-scorecard", action="/scorecard/new", method="post")
      label(for="homeTeam")="Home team: "
      select(name="homeTeam")
            each team, i in teams
                option(value=team._id) #{team.shortName}
      br

      label(for="awayTeam")="Away team: "
      select(name="awayTeam")
            each team, i in teams
                option(value=team._id) #{team.shortName}
      br
      input(type="submit", value="Create scorecard")