extends ../layout

block content
  h1.
    #{scorecard.homeTeam.name} vs. #{scorecard.awayTeam.name}
  p Played at: 
    em.
        #{scorecard.homeTeam.ground}
  p On: 
    em.
        #{moment(scorecard.createdDate).format("dddd, MMMM Do YYYY, H:mm:ss")} 

  table.batting-table(width="70%")
        thead
            tr
                th(colspan="2").
                    #{scorecard.homeTeam.name} 1st innings
                th="R"
                th="M"
                th="B"
                th="4s"
                th="6s"
                th="SR"
        tbody
            if scorecard.innings.length > 0
                each batter, i in scorecard.innings
                    tr
                        td= batter.player.name.initials + " " + batter.player.name.last
                        td 
                            if batter.howOut
                                =batter.howOut 
                            else 
                                ="not out"
                        td.bold= batter.score
                        td= batter.mins
                        td= batter.balls
                        td= batter.fours
                        td= batter.sixes
                        td= Math.round(batter.score / batter.balls * 100).toFixed(2)
        tfoot
            tr.extras
                td="Extras"
                td="(w 3)"
                td.bold="3"
                td= ""
                td= ""
                td= ""
                td= ""
                td= ""
            tr.totals
                td.bold="Total"
                td="(1 wicket; 26 overs)"
                td.bold="118"
                td(colspan="5")="(4.53 runs per over)"     